.message{
	float: left;
    width: 315px;
    height: 450px;
    border: 2px solid black;
    padding: 6px;
    padding-right: 15px;
    border-radius: 15px;
	
}
.title{
	background-color: FAF87D;
    width: 100%;
    height: 10%;
    border: 1px solid black;
    padding: 2px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
	
}
.div_input{
	height:25px;
	margin:10px;
	width:175px;
}
.button{
	height:50%;
	width:20%;
	position: absolute;
	bottom:0px;
	margin: 14px;
}
.function_button{
	height:25px;
	width:100px;
	bottom:10px;
	margin:4px;
}
#style_textarea{
	 resize: none;
	 height:80px;
	 width:300px;
	 position: relative;
	 bottom:0px;
	 margin:4px;
}
